# Standard
dev/
data/cache/
__pycache__/
.idea/
.DS_Store
.env

# Specialized
.ipynb_checkpoints/omim-checkpoint.ipynb
.git.bfg-report/
*ignore/

# Inputs
mim2gene.txt
mim2gene.tsv
mimTitles.txt
mimTitles.tsv
genemap2.txt
genemap2.tsv
morbidmap.txt
morbidmap.tsv
phenotypicSeries.txt
phenotypicSeries.tsv
allelicVariants.txt
allelicVariants.tsv

# Outputs
omim.ttl
omim.sssom.tsv
omim.sssom.log.txt
omim.json
*.sssom.owl
mondo_exactmatch_omim.sssom.tsv
mondo_exactmatch_omimps.sssom.tsv
omim.owl
mondo_genes.csv
