[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
beautifulsoup4 = "*"
rdflib = "*"
pyyaml = "*"
requests = "*"
bonobo = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
