alabaster==0.7.12
appdirs==1.4.4
attrs==21.4.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bonobo==0.6.4
certifi==2022.12.7
charset-normalizer==2.0.4
click==8.1.2
colorama==0.4.4
commonmark==0.9.1
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.2
docutils==0.17.1
filelock==3.0.12
fs==2.4.13
graphviz==0.8.4
greenlet==1.1.2
hbreader==0.9.1
idna==3.2
imagesize==1.3.0
importlib-metadata==4.11.3
isodate==0.6.0
Jinja2==2.11.3
joblib==1.1.1
json-flattener==0.1.9
jsonasobj2==1.0.4
jsonschema==4.4.0
linkml-runtime==1.2.7
MarkupSafe==2.0.1
mondrian==0.8.1
networkx==2.8
numpy==1.22.0
packaging==19.2
pandas==1.3.5
pandasql==0.7.3
pbr==5.6.0
pipenv==2022.12.19
platformdirs==2.2.0
prefixcommons==0.1.9
psutil==5.8.0
Pygments==2.11.2
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.0
python-slugify==1.2.6
pytz==2021.1
PyYAML==6.0.1
rdflib==6.1.1
recommonmark==0.7.1
requests==2.31.0
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.2.1
SPARQLWrapper==2.0.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.35
sssom==0.3.8
stevedore==1.32.0
threadpoolctl==3.1.0
Unidecode==1.2.0
urllib3==1.26.6
validators==0.18.2
virtualenv==20.7.2
virtualenv-clone==0.5.6
virtualenvwrapper==4.8.4
whistle==1.0.1
wrapt==1.14.0
zipp==3.8.0
